.reactt {
  pointer-events: none;
  position: sticky;
}

@media (prefers-reduced-motion: no-preference) {
  .reactt {
    animation: reactt-spin infinite 1.2s linear;
    position: sticky;
  }
}
@keyframes reactt-spin {
  from {
    transform: rotate(0deg);
    position: sticky;
  }
  to {
    transform: rotate(360deg);
    position: sticky;
  }
}
.M-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .M-logo {
    animation: M-logo-spin infinite 8s linear;
  }
}
@keyframes M-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.F-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .F-logo {
    animation: F-logo-spin infinite 8s linear;
  }
}
@keyframes F-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.J-logo {
  z-index: 1000;
}

@media (prefers-reduced-motion: no-preference) {
  .J-logo {
    animation: J-logo-spin infinite 8s;
    z-index: 1000;
  }
}
@keyframes J-logo-spin {
  from {
    transform: rotate(0deg);
    z-index: 1000;
  }
  to {
    transform: rotate(360deg);
    z-index: 1000;
  }
}
